/Components/QuadroGeral/nbproject/private/
/Components/QuadroGeral/build/
/Components/QuadroGeral/dist/
/Components/Implementacao/QuadroGeral/nbproject/private/
/Components/Implementacao/QuadroGeral/build/
/Components/Implementacao/GeneralDiagnosis/nbproject/private/
/Components/Implementacao/GeneralDiagnosis/build/
/João-Matheus/zombie_health/ZombieHealth/build/